body { 
    background: url('page_game_bg_03.png')no-repeat center center fixed;;
    /* background: url(https://images.unsplash.com/photo-1481923387198-050ac1a2896e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2166&q=80) no-repeat center center fixed;  */
    /* background: url(https://c4.wallpaperflare.com/wallpaper/779/691/639/technology-movies-projector-8mm-film-reel-wallpaper-preview.jpg) no-repeat center center fixed;  */
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

:root {
    --hue-neutral: 2001;
    --hue-wrong: 0;
    --hue-correct: 145;
}
.movie-img img{
    margin-top: 5%;
    background-color: #b2daea;
    min-width: 350px;
    max-height: auto;
    max-width: 60%;
    border-radius: 5px;
    padding: 10px;
}
.movie-img{
    text-align: center;
    display: block;
}

.btn-a, .btn-b, .btn-c, .btn-d{
    color: #1d1b1b;
    border: 1px solid white;
    padding: 3% 3%;
    text-transform: uppercase;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    background-color: #b2daea;
    border-radius: 5px;
}

.btn-grid{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    margin: 20px 0;
}

.hide{
    display: none;
}


.dop-buttons{
    position: absolute;
    left: 0;
    top: 10%;
    
}

#progress-container{
    position: fixed;
    left: 50%;
}

#countdown{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    color: white;
}

#progress{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 4px;
    border-radius: 5px;
    color: white;
}

/* .container {
    display: flex;

} */

#buttons button{
    font-size: 1.5rem;
    border: 1px solid white;
    padding: 10px 40px;
    letter-spacing: 4px;
    background-color: #b2daea;
    border-radius: 5px;
    width: 200px;
    margin: 5%;
  }

#buttons{
    margin-top: 10%;
}